version: '3'

services:
  markcdn-admin-api:
    image: {{ admin_api_go_image_name }}:{{ admin_api_go_image_tag }}
    container_name: {{ admin_api_go_container_name }}
    networks:
      - open-network
    restart: always
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./public:/app/public
      - ./log:/app/log
      - ./certs:/app/certs
      - ./data:/app/data
    ports:
      - "8443:8443"
      - "22022:22"   # git 端口
      - "9999:9999"  # prometheus 端口
      - "{{ admin_api_go_port }}:8080"

networks:
  open-network:
    external: true